{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
</div>
<!--Texto-->
<div class="main-content">
    <div class="container mt-5">
        <h1 class="text-center mb-4">O que é Pokémon?</h1>
        <p>Pokémon é uma franquia de mídia criada por Satoshi Tajiri e Ken Sugimori. Ela gira em torno de criaturas fictícias chamadas "Pokémon", que os humanos, conhecidos como "treinadores Pokémon", capturam e treinam para lutarem entre si por esporte.</p>
        <p>A franquia Pokémon inclui jogos de vídeo, jogos de cartas colecionáveis, uma série de televisão, filmes, brinquedos e uma variedade de outros produtos. Desde o seu lançamento inicial em 1996, Pokémon se tornou uma das franquias de mídia mais bem-sucedidas e lucrativas do mundo.</p>
        <p>Os Pokémon são classificados por diferentes tipos, como fogo, água, grama, elétrico, etc., e possuem habilidades e estatísticas únicas. Os jogos de vídeo Pokémon geralmente giram em torno de capturar Pokémon, treiná-los e batalhar contra outros treinadores para se tornar o Campeão Pokémon.</p>
        <p>Além dos jogos de vídeo, a franquia Pokémon também é conhecida por sua série de televisão animada, que segue as aventuras de um jovem treinador Pokémon chamado Ash Ketchum e seu parceiro Pokémon, Pikachu, enquanto viajam pelo mundo Pokémon, enfrentando desafios e batalhando contra outros treinadores.</p>
    </div>

    <footer class="bg-dark text-white text-center py-3 fixed-bottom">
        <div class="container">
            &copy; 2024 Pokémon. Todos os direitos reservados.
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
</div>
{% endblock %}
