{% extends "base.html" %}

{% block title %}Pokedex{% endblock %}

{% block content %}
</div>
<!--Texto-->
<div class="main-content">
<center>
  <h1>Páginas em destaque</h1>
</center>
<!-- Carousel -->
<div id="demo" class="carousel slide container-fluid col-12" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="Bulbasaur" class="nav-link sol-sm"><img class="rounded img-thumbnail cimg" src="/static/images/001.gif" alt="brasileirao2015" class="d-block w-100"></a>
    </div>
    <div class="carousel-item">
      <a href="Charmander" class="nav-link sol-sm"><img class="rounded img-thumbnail cimg" src="/static/images/003.gif" alt="mundial2012" class="d-block w-100"></a>
    </div>
    <div class="carousel-item">
      <img class="rounded img-thumbnail cimg" src="/static/images/007.gif" alt="paulistao2017" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev bg-dark" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next bg-dark" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<center>
  <div>
    <h2 style="">Lista de monstrinhos</h2>
  </div>
</center>
<div class="container-grid" style="margin-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="Bulbasaur" class="nav-link sol-sm"><img class="gimg" src="static/images/001.jpg"></a>
      </div>
      <div class="col-sm">
        <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/002.jpg"></a>
      </div>
      <div class="col-sm">
        <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/003.jpg"></a>
      </div>
      <div class="col-sm">
        <a href="Charmander" class="nav-link sol-sm"><img class="gimg" src="static/images/004.jpg"></a>
      </div>
      <div class="col-sm">
        <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/005.jpg"></a>
      </div>
    </div>
  </div>
  <div class="container-grid" style="margin-top: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/006.jpg"></a>
        </div>
        <div class="col-sm">
          <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/007.jpg"></a>
        </div>
        <div class="col-sm">
          <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/008.jpg"></a>
        </div>
        <div class="col-sm">
          <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/009.jpg"></a>
        </div>
        <div class="col-sm">
          <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/010.jpg"></a>
        </div>
      </div>
    </div>
    <div class="container-grid" style="margin-top: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/011.jpg"></a>
          </div>
          <div class="col-sm">
            <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/012.jpg"></a>
          </div>
          <div class="col-sm">
            <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/013.jpg"></a>
          </div>
          <div class="col-sm">
            <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/014.jpg"></a>
          </div>
          <div class="col-sm">
            <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/015.jpg"></a>
          </div>
        </div>
      </div>
      <div class="container-grid" style="margin-top: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/016.jpg"></a>
            </div>
            <div class="col-sm">
              <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/017.jpg"></a>
            </div>
            <div class="col-sm">
              <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/018.jpg"></a>
            </div>
            <div class="col-sm">
              <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/019.jpg"></a>
            </div>
            <div class="col-sm">
              <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/020.jpg"></a>
            </div>
          </div>
        </div>
        <div class="container-grid" style="margin-top: 100px;">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/021.jpg"></a>
              </div>
              <div class="col-sm">
                <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/022.jpg"></a>
              </div>
              <div class="col-sm">
                <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/023.jpg"></a>
              </div>
              <div class="col-sm">
                <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/024.jpg"></a>
              </div>
              <div class="col-sm">
                <a href="/" class="nav-link sol-sm"><img class="gimg" src="static/images/025.jpg"></a>
              </div>
            </div>
          </div>

</div>
<footer class="text-center text-lg-start bg-body-tertiary text-muted bg-dark"> 
  <div class="text-center p-1" style="background-color: rgba(24, 24, 24, 0.05);">
    Copyright © 2024 
  </div>
</footer>
{% endblock %}
